@font-face {
    font-family: 'high-sans-serif';
    src: url('./fonts/high-sans-serif.ttf');
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'high-sans-serif';
}

body {
    align-items: center;
    flex-wrap: wrap;
    background-color: beige;
    row-gap: 50px;
}

body>* {
    width: 800px;
}

.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
}

.flex-cr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

h1,
h2,
h3,
p,
a {
    margin: 0;
    white-space: wrap;
    font-size: 40px;
    font-weight: 200;
}

h2 {
    text-align: center;
}

input,
label,
select {
    font-size: 30px;
    padding: 0 10px;
}

select {
    width: fit-content;
}

select option {
    height: 100%;
}

.disNone {
    display: none !important;
}

.green-font {
    color: green;
}

.red-font {
    color: red;
}

.orange-font {
    color: orange;
    cursor: auto;
}

.advise {
    font-size: 30px !important;
    text-align: center;
}

.beige-font p {
    color: beige !important;
}

.timer-cont {
    row-gap: 20px;
    width: 100%;
}

.timer-cont p {
    font-size: 60px;
}

.options {
    justify-content: center;
    column-gap: 30px;
    row-gap: 15px;
    flex-wrap: wrap;
}

.timer-cont .scramble-length-cont,
.timer-cont .cube-size-cont,
.timer-cont .scramble-cont {
    height: fit-content;
    row-gap: 20px;
}

.timer-cont .scramble-cont {
    align-items: center;
    row-gap: 15px;
}

.timer-cont .scramble-length-cont .scramble-length-cont,
.timer-cont .cube-size-cont .scramble-length-cont {
    align-items: center;
    column-gap: 20px;
}

.timer-cont .scramble-length-cont .scramble,
.timer-cont .cube-size-cont .scramble {
    font-size: 40px;
    flex-wrap: wrap;
}

.timer-cont p.timer {
    align-self: center;
    font-size: 150px;
}

.scramble {
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.scramble .scramble-button {
    cursor: pointer;
}

.times {
    width: fit-content !important;
    height: 100%;
}

.times,
.bottom-right {
    width: 45%;
}

.bottom-right>div {
    width: 100%;
    max-width: 300px;
    height: 25%;
}

.times,
.show-scramble twisty-player {
    min-width: 320px;
    width: 45%;
    row-gap: 30px;
    padding: 10px;
    border: 2px solid black;
}

.show-scramble {
    align-items: center;
    width: 60% !important;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.show-scramble twisty-player {
    width: 100%;
    border: none;
}

.times-bottom {
    column-gap: 40px;
    height: 80%;
}

.times .all-times,
.times .averages {
    width: fit-content;
}

.times .averages {
    max-height: 500px;
    row-gap: 25px;
    overflow-y: scroll;
}

.times .averages::-webkit-scrollbar {
    display: none;
}

.times .all-times-outter {
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
}

.times .all-times-outter::-webkit-scrollbar {
    display: none;
}

.times .all-times-outter .all-times {
    row-gap: 15px;
    height: fit-content;
    max-height: 360px;
    width: fit-content !important;
}

.times .all-times-outter .all-times .time-cont {
    width: 100%;
}

.times .all-times::-webkit-scrollbar {
    display: none;
}

.times .all-times p {
    cursor: pointer;
}

.times .all-times .time-cont,
.times .all-times .time-cont .time-specs {
    column-gap: 10px;
}

.times .all-times .time-cont p {
    width: fit-content;
    font-size: 30px;
}

.times .all-times .time-cont .time-specs {
    justify-content: space-between;
    column-gap: 10px;
    width: fit-content;
    position: relative;
}

.times .all-times .time-cont .time-specs .spec-elements {
    column-gap: 10px;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 5;
    background-color: black;
    padding: 5px 10px;
}

.times .all-times .time-cont .time-specs:last-child .spec-elements {
    transform: translateY(100%);
}

.times .all-times .time-cont .time-specs .spec-elements p {
    color: white;
}

.times .all-times .time-cont .time-specs.off .spec-elements {
    display: none !important;
}

.times .all-times .time-cont .time-specs.on .spec-elements {
    display: flex;
}

.times .all-times .time-cont .time-specs p {
    font-size: 30px;
}

.times .all-times .time-cont .delete-time {
    color: red;
    cursor: pointer;
}

.times .clear-button {
    width: fit-content;
    cursor: pointer;
}

.overlay {
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 50vw;
    max-width: 400px;
    height: 50vh;
    max-height: 225px;
    background-color: green;
    border-radius: 3%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.overlay h1, .overlay p {
    color: white;
    text-align: center;
    font-weight: 200;
}

.overlay .buttons {
    justify-content: space-evenly;
    width: 100%;
}

.overlay .buttons button {
    color: white;
    cursor: pointer;
    font-size: 40px;
    padding: 0 20px;
    line-height: 27px;
}

.overlay .buttons button.yes {
    background-color: blue;
}

.overlay .buttons button.no {
    color: black;
}

.scramble-of-time {
    row-gap: 20px;
}

.times-scrambler {
    justify-content: center;
    width: fit-content;
    max-width: 1600px;
    height: 50vh;
    column-gap: 50px;
    row-gap: 25px;
    flex-wrap: wrap;
}

.scramble-of-time .list {
    row-gap: 10px;
    max-height: 220px;
    overflow-y: scroll;
}

.scramble-of-time .list p {
    font-size: 40px;
    white-space: wrap;
}

.bottom-right {
    justify-content: space-between;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

.bottom-right .canvas-cont {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.clearings {
    align-self: center;
    justify-content: space-between;
    width: 100%;
}

.averages>div {
    row-gap: 0;
}

.total,
.mean,
.best {
    column-gap: 10px;
}

.total p,
.mean p,
.best p {
    font-size: 30px;
}

.no-times {
    font-size: 35px;
    color: grey !important;
}

.allow-saving {
    align-items: center;
}

.copyright {
    align-self: center;
    font-size: 24px;
}

.best-marked {
    border-right: 2px solid orange;
    border-left: 2px solid orange;
    padding: 0 5px;
}

.best-marked.top {
    border-top: 2px solid orange;
}

.best-marked.bottom {
    border-bottom: 2px solid orange;
}

.graph-cont {
    row-gap: 15px;
    height: unset !important;
    aspect-ratio: 1 / 1;
}

.graph-cont form {
    align-items: center;
}

#time-graph {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.start-btn {
    display: none;
}

.stop-btn {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 800px) {
    .times-scrambler {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .start-btn {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}